* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat";
  font-weight: 200;
  letter-spacing: 2px;
  z-index: 999;
}

.nav-items {
  display: flex;
  background-color: rgba(32, 10, 68, 0.362);
  backdrop-filter: blur(11px); 
  justify-content: space-between;
  padding: 17px 100px;
  align-items: center;
  color: rgb(240, 246, 250);
}

ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

ul > li {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
}

ul > li:hover {
  color: #9da3e8;
}

.nav-ham {
  display: none;
  color: rgb(178, 204, 227);
}

.line {
  background-color: rgb(178, 204, 227);
  border-radius: 0.625rem;
  display: block;
  height: 0.188rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.home {
  visibility: hidden;
}

.nav-active {
  color: rgb(215, 193, 245);
}

/* home section */

.home-section {
  padding: 80px 100px 80px 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(5, 7, 11);
  overflow-x: hidden;
}
.home-first-name {
  font-size: 88px;
  /* font-family: "Montserrat",sans-serif; */
  font-family: "Volkhov", serif;
  white-space: nowrap;
  letter-spacing: 3px;
  color: rgb(224, 235, 244);
  font-weight: 500;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  margin-left: 80%;
  white-space: nowrap;
}

.name,
.title {
  transition-property: margin-left;
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.home-title {
  color: #c1c4f4;
  font-size: 43px;
  line-height: 5rem;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}
.home-title-2 {
  color: #c1c4f4;
  font-size: 35px;
  line-height: 1rem;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}
.App {
  height: 100vh;
}

 /* about section */

 .about-section{
  /* background-color: rgb(38, 83, 129); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(5, 7, 11);

  
 }
 .about-section-div{
  margin: 15%;
  
 }

 .about-title{
  font-size: 50px;
  font-weight: 500;
  color: rgb(224, 235, 244);
  margin-bottom: 40px;
 }

 .about-desc{
  font-weight: 300;
  color: rgb(224, 235, 244);
  font-size: 22px;
  margin-bottom: 20px;

 }
 .about-email{
  font-size: 22px;
  color: #6b71d0;
  margin-bottom: 25px;

 }

 .fa{
  margin-right: 20px;
  margin:10px;
  color: rgb(204, 223, 238);
  cursor: pointer;
 }
 .fa:hover{
  color: #6b71d0;
 }

  /* skill section */

  .skill-section{
  
    /* background-color: #191c40; */
    color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(5, 7, 11);



  }
  .skill-title{
    font-size: 50px;
  font-weight: 500;
  color: rgb(204, 223, 238);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(171, 15, 41); */
  

 


  }
  .frontend-skills, .backend-skills, .miscellaneous{
    font-size: 26px;
    margin-bottom: 15px;

   
  }
  .skill-section-div{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 8%;
    /* border: 2px solid pink; */
    display: inline-block;



  }

  .frontend, .backend, .miscellaneous-inner{
    display: flex;
    gap:30px;
    margin-bottom: 35px;
    margin-top: 10px;
    flex-wrap: wrap;
    max-width: 900px;
    padding-left: 25px;

  }

  .skill-div{
    /* display: inline-block; */

    text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
    
  }
  .skill-div:hover {
    transform: translateY(-10px);
  }
  .image-container {
    position: relative;
  }

  .skillimg{
    width: 70px;     
      border-radius: 10px;
     
    background-color: white;
  }
  .image-text {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;  }
  
  .image-container:hover .image-text {
    opacity: 1;
    animation: bounce 0.8s ease; 
  }
  @keyframes bounce {
    0%, 20%, 50%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-8px);
    }

    80%{
      transform: translateY(2px);
    }
  }

  /* project section */
  .project-section{
    background-color: rgb(5, 7, 11);
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    flex-direction: column;
    padding: 20px;

  }

  .project-title{
    font-size: 50px;
    font-weight: 500;
    color: rgb(204, 223, 238);
    margin-bottom: 15px;
  }

  .fa-circle{
    font-size: 10px;
    margin: 5px;
    margin-bottom: 10px;
  }
  .project-div{
    border: 2px solid rgb(75, 95, 222);
    margin: 2% 5% 2% 5%;
    display: flex;
    max-width: 1100px;
    padding: 45px 25px 45px 25px;
    gap:50px;
    border-radius: 7px;
    /* flex-wrap: wrap;  */
   
    
  }
  .project-image{
    min-width: 600px;
   max-width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    object-fit: cover;
    flex:1;
  }
  .project-header{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
   
  }
  .project-info{
    flex:2;
    /* max-width: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .project-about{
    margin-bottom: 20px;
  }
  .project-btns{
    margin-top: 30px;
    display: flex;
    gap:20px;
  }
  .subtitle{
    margin-top: 10px;
    font-size: 18px;
  }

  .project-btn{
    font-size: 19px;
    padding: 11px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(75, 95, 222);
    cursor: pointer;
    max-width:max-content;
    color:rgb(75, 95, 222);
    transition: 0.3s;
    border-radius: 5px;
    
  }
  .project-btn:hover{
    color: aliceblue;
    background-color: #4b54cc;
  }
  .projectimg{
    max-width: 100%;
    max-height: 100%;
    
  }

  /* contact section */

  .contact-section{
    background-color: rgb(5, 7, 11);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .contact-title{
    font-size: 50px;
    font-weight: 500;
    color: rgb(204, 223, 238);
    margin-bottom: 15px;

  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
   
  }
  tr {
    margin-bottom: 15px;
  }
  
  td {
    text-align: right;
    padding: 5px;
    font-size: 20px;
  }

  input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  background-color: #3e3f48;
  font-size: 20px;
  border: none;
  color: aliceblue;
  height: 50px;
}
textarea{
  height: auto;
}

input[type="submit"] {
  background-color: rgb(75, 95, 222);
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.contact-subtitle{
  color: aliceblue;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: #4b54cc;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: rgb(5, 7, 11);


}
.copyright{
  color: #4e4f53;
  font-size: 13px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .nav-ham {
    flex-direction: column;
    height: 1.313rem;
    justify-content: space-around;
    position: absolute;
    right: 25px;
    top: 18px;
    width: 1.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-items {
    flex-direction: column;
  }

  .ulitem {
    flex-direction: column;
    margin-top: 40px;
  }

  .navLinks {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, visibility 0.3s ease-in-out;
  }

  .navLinks.active {
    visibility: visible;
    max-height: 500px; /* Adjust the value to fit your content height */
  }

  .home-section {
    padding: 40px 20px;
    
  }
  .home-first-name {
    font-size: 40px; /* Adjust font size */
  }

  .name, .title {
    margin-left: 5%; /* Adjust margin-left for smaller screens */
  }

  .home-title {
    font-size: 30px; /* Adjust font size */
    line-height: 2rem; /* Adjust line height */
  }

  .home-title-2 {
    font-size: 30px; /* Adjust font size */
    line-height: 1rem; /* Adjust line height */
  }
  .name {
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .about-title{
    font-size: 35px;
   }
   .about-desc, .about-email{
    font-size: 17px;
   }
   .fa-github, .fa-linkedin-square{
    font-size: 48px;
   }
  .skill-title{
    font-size: 35px;
    margin-bottom: 30px;

  }
  .skill-section-div{
    margin: 15%;
  }
  .frontend-skills, .backend-skills, .miscellaneous{
    font-size: 23px;
  }
  .skillimg{
    width: 50px;
  }
  .project-title, .contact-title{
    font-size: 35px;
  }
 .subtitle, .contact-subtitle{
  font-size: 16px;
  margin: 5%;
  text-align: center;
 }
 .project-btn{
  font-size: 17px;
  padding: 9px;
 }
 input[type="text"], input[type="email"], textarea {
  
  padding: 8px;
  font-size: 17px;
}

.copyright{
  font-size: 12px;
}


 
}

@media (max-width:940px)
{
  .project-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .project-image{
    min-width: 100%;
   
  }
  .projectimg{
    /* max-width: 100%;
    max-height: 100%; */

    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Allow the height to adjust automatically based on aspect ratio */
    object-fit: cover; 
    
  }

}
